*~
.DS_Store
.idea/
__pycache__/
*.pyc

celerybeat-schedule
comments.txt
blacklist.txt
whitelist.txt
unfollowed.txt
skipped.txt
instabot.log
friends.txt
followed.txt
cookie.txt

etc/.env

files/*
ibot.db